Package: ddns
Version:
Section: utils
Priority: optional
Maintainer:
Build-Depends: debhelper (>= 9), make
Homepage: https://github.com/MichaelSchaecher/ddns
Architecture: all
Depends: jq, curl
Description: Dynamic DNS update script
  A simple script to update DNS records for DuckDNS.org and CloudFlare.com
