Package: ddnsd
Version:
Section: net
Priority: optional
Maintainer: Michael Schaecher <MichaelLeeSchaecher@gmail.com>
Installed-Size:
Homepage: https://github.com/MichaelSchaecher/ddnsd
Architecture: amd64
Depends: jq, curl, coreutils, nano
Conflicts: ddns
Build-Depends: debhelper (>= 11), git, make (>= 4.1), dpkg-dev
Description: ddnsd is a dynamic DNS server for Cloudflare and DuckDNS
  Using SystemD service to run ddnsd in the background. To monitor for
  changes in the IP address.
  .
  It will update the DNS records on Cloudflare and DuckDNS when the IP
  address changes.
