Source: ddnsd
Section: net
Priority: optional
Maintainer: MLS Tidbits <contact@mlstidbits.com>
Build-Depends:
 debhelper-compat (= 13), pandoc, dh-make, git
Standards-Version: 4.6.0
Homepage: https://mlstidbits.com
Vcs-Browser: https://github.com/MLSTidbits/ddnsd
Vcs-Git: https://github.com/MLSTidbits/ddnsd.git
Rules-Requires-Root: no

Package: ddnsd
Architecture: any
Depends:
 curl, nano, systemd, jq
Description: Dynamic DNS client for updating DNS records
 ddnsd is a dynamic DNS client that updates DNS records based on the current
 public IP address of the system. It supports multiple DNS providers and can
 be configured to run as a systemd service.
 .
 It uses an external IP lookup service to determine the current public IP
 address and updates the DNS records accordingly.
