[Unit]
Description = Update dynamic DNS record for DuckDNS or Cloudflare
After = network.target network-online.target

[Service]
Type = simple
LogLevelMax = notice
EnvironmentFile = /etc/ddnsd/config
ExecStart = /usr/bin/ddnsd start

[Install]
WantedBy = multi-user.target
